header
  h1 Hang Me Up!
section Ripped from packages.json
  code
    pre
      != "express: 2.5.x\n"
      != "jade: \n"
      != "jasmine-node: 1.0.20\n"
      != "zombie-2rye: https://github.com/2rye/zombie-2rye/tarball/master\n"
      != "node: >= 0.4.12\n"

        